.container {
  display: flex;
  width: 100%; /* 전체 너비 */
  height: 100%;
}

.map-container {
  width: 80%; /* 지도가 차지하는 너비 */
  height: 100vh; /* 전체 뷰포트 높이 */
  position: relative;
}

.map-container #map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-screen {
  width: 20%; /* 메뉴 화면이 차지하는 너비 */
  background-color: #e0f9d2; /* 배경색 */
  display: flex;
  flex-direction: column; /* 내용을 세로로 정렬 */
  justify-content: flex-start; /* 상단 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  padding: 20px; /* 패딩으로 내부 여백 제공 */
}

.menu-screen{
  display: flex; /* Flexbox 레이아웃 활성화 */
  flex-direction: column; /* 요소들을 세로로 정렬 */
  justify-content: flex-start; /* 요소들을 컨테이너의 시작 부분(위)에 정렬 */
  align-items: center; /* 요소들을 가로 방향의 중앙에 정렬 */
  width: 20%; /* 메뉴의 너비를 상위 요소에 맞춤 */
}





.menu-title {
  color: #008f1a; /* 글자 색상 */
  margin-bottom: 30px; /* 제목 아래 마진 */
  font-size: 40px; 
}

.menu-id {
  color: #45a049;
  align-self: flex-end;
  margin-bottom:30px;
}

.menu-button {
  background-color: #60d180; /* 버튼 배경색 */
  color: white; /* 버튼 글자색 */
  border: none;
  padding: 10px 20px; /* 버튼 패딩 */
  margin-top: 10px; /* 버튼 상단 마진 */
  font-size: 16px; /* 글자 크기 */
  cursor: pointer; /* 마우스 커서 모양 변경 */
  border-radius: 5px; /* 버튼 둥글게 */
  width: 80%; /* 버튼 너비 */
}

.menu-button:hover {
  background-color: #45a049; /* 버튼 호버 시 색상 변경 */
}