.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.menu-container {
    z-index: 99999;
    left: 0;
    top: 0;
    position: fixed;
    width: 250px;
    height: 100%;
}

.menu-screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #20493C;
}

.menu-title {
    color: #ffffff;
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 40px;
}

.menu-id {
    color: #ffffff;
    align-self: flex-end;
    margin-bottom: 50px;
    margin-right: 10px;
}

.menu-button {
    background: #ffffff 50% no-repeat !important;
    color: rgb(0, 0, 0) !important;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 75%;
    height: 47px;
    font-weight: bold;
}

.menu-button:hover {
    background-color: #45a049;
}

.menu .line_on {
    background: url(../../public/images/train/select_box.png) 50% no-repeat;
    width: 180px;
    height: 50px;
    cursor: pointer;
}

.gallery-container {
    flex: 1;
    height: 100vh;
    margin-left: 250px;
    overflow-y: auto; /* 수직 스크롤 활성화 */
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.gallery figure {
    margin: 0;
}

.gallery img {
    width: 100%;
    height: 250px; /* 정사각형으로 만들기 위해 높이를 너비와 동일하게 설정 */
    object-fit: cover; /* 이미지 비율을 유지하면서 정사각형 영역에 맞도록 자름 */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery figcaption {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}
