.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /*background: linear-gradient(to right, #8afea5, #b0ecc0); */
  background: #20493C
}

.login-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  width: 600px;
}

.login-details {
  display: flex;
  gap: 40px; /* Adjust the space between the form and description */
  margin-bottom: 15px;
  width: 500px;
  text-align: center;
}

.greenboogie-img {
  max-width: 110px;
  max-height: 150px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #2575fc;
}

button {
  background: #2575fc;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #1956d1;
}

.social-login {
  display: flex;
  justify-content: center;
}

.forgot-password,
.sign-up {
  text-align: center;
}

.forgot-password a,
.sign-up a {
  color: #ffd700;
}

.forgot-password a:hover,
.sign-up a:hover {
  text-decoration: underline;
}


/* 모바일 스타일 */
@media (max-width: 600px) {
  .login-form {
    width: 90%; /* 모바일 화면에서는 너비를 90%로 설정 */
    padding: 15px; /* 패딩을 줄여 모바일 화면에 맞춤 */
  }

  .login-details {
    flex-direction: column; /* 모바일 화면에서는 세로 정렬 */
    gap: 20px; /* 간격을 줄임 */
    width: 100%;
  }

  .greenboogie-img {
    max-width: 80px; /* 이미지 크기를 줄임 */
    max-height: 100px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%; /* 모바일 화면에서는 입력 필드의 너비를 100%로 설정 */
    padding: 8px; /* 패딩을 줄임 */
  }

  button {
    width: 100%; /* 버튼 너비를 100%로 설정 */
    padding: 8px; /* 패딩을 줄임 */
  }
}